

		/* clock.html
		#clockPage body{
			background-color: #FFFFFF;
		}
		main{
			margin-top: 2em;
		}
		img{
			width: 100%;
			height: 80%;
		}
		h1{
			width: 100%;
			margin-bottom: 2em;
		}
		li{
			list-style: none;
			margin-left: 1em;
			margin-bottom: .1em;
			font-size: large;
		} */