
	<style type="text/css">
	
	/*Header styles (and a dash of the body*/

		html,body{
			padding: 0;
			margin: 0;
		}

		html{
			height: 100%;
			padding-left: 100px;
			padding-right: 100px;
			margin-left: 100px;
			margin-right: 100px;

/*			background-image: url("../media/backgroundPicThree.jpg");
			background-repeat: no-repeat;*/
		}
	
		body{
			height: 100%;
		}

		main{
			min-height: 64%;  /*size of main when there isn't enough content */
/*			background-image: url("../media/backgroundPicThree.jpg");
			background-repeat: no-repeat;*/

		}
		main.container{
			display: block;
			margin: auto;
			padding: 20px;
/*			height: 75%;*/
			/*max-width: 720px;*/

		}


		h1{
			width: 100%;
			margin-bottom: 1em;
			text-align: center;
		}
		h5{
			text-align: center;
			margin-bottom: 2em;
		}
		#title{
			font-size: x-large;
		}
		#phoneNumber{
			font-size: large;
			margin: 0;
			right: 0px;

		}
		#headerHere .navbar{
			border: none;
			justify-content: space-between;
		}
		#headerHere{
			border: none;
			border-bottom: 1px solid red;
			text-align: center;
		}
		

		i{
			font-size: 48px;
			display: block;
			margin: auto;
			margin-top: 1em;
		}
		img{
			width: 50%;
			background-color: #FCFCFC !important;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		/*SearchPage images*/
		a img{
			width: 100%;
		}
	
		#cardContainer{
			min-width: 100%;
			height: 100%;

		}
		#cardContainer h5{
			vertical-align: bottom;
		}
		.card{
			margin-top: 2em;
			background-color: #FCFCFC;
		}
		div .card{
			min-width: 33%;
			width:100%;
		}

		div .card:hover{
			opacity: .8  5;
			-moz-box-shadow:0 0 25px 0 #be3627;
			-webkit-box-shadow:2 2 25px 0 #be3627;
			box-shadow:0 0 55px 0 #be3627;;
			transition: width 2s, height 4s;
		}
		/*repairClock.html*/
		#questions{
			border-bottom: 1px solid grey;
		}

		#questions h4{
			text-align: center;
		}
		#answers h4{
			text-align: center;
		}

		.dropdown{
			text-align: center;
		}

		.dropdown p{
			text-align: inherit;
			border: 0;
			background-color: #FCFCFC !important;
		}
		#faqs{
			width: 100%;
			height: 100%;
		}
		/* this is a given element based on bootstraps .dropdown and .dropdown-menu*/
		.show{
			margin-bottom: 75px;
		}

		li{
			list-style: none;
			font-size: large;
			display: inline-block;
			margin-top: 1em;
		}
		.form-inline{
			width: 100%;
		}
		#index { /* Title */
			font-size: x-large;
		}
		div #searchBar{
			justify-content: center;

		}
		#searchBar button{
			

		}

		ul #results{

			background-color: #FFF;
			display: inherit;
			columns: 3;
			-webkit-columns: 3;
  			-moz-columns: 3;
		}
		div #mainNavBar a{
			text-align: center;
		}


		/* */
		@media (max-width: 1050px){

			main{
				margin-top: 2em;
				padding-bottom: 100px;
			}
			li{
				list-style: none;
				font-size: large;
				margin-top: 1em;

			}
			#storeHours{
				font-size: small;
			}
			.form-inline{
				flex-flow: nowrap;
			}

			#title {
				font-size: large;
			}
			#phoneNumber{
				font-size: small;
			}
			div #searchBar{
				margin-left: 2em;
			}
			#searchBar button{
				margin-left: .5em
			}
			a .nav-link{
				color: black !important;
			}
			/*#Results UL*/
			ul #results{
			text-align: center;
			background-color: #FFF;
			display: inherit;
			columns: 2;
			-webkit-columns: 2;
  			-moz-columns: 2;

			}
			img{
				width: 100%;
			}
		}


		/*Footer styles*/

		
		#footerFirstRow{
			border-top: 1px solid red;
			text-align: center;
			justify-content: center;
		}

		#footerHere nav.navbar{

			clear: both;
			text-align: center;
			position: relative;	
		}
		#footerHere .navbar{
			border: none;
		}

		#footerHere .navbar-nav{
			display: inline-block;
		}
		#footerHere a.nav-link{
			margin-left: 1em;
		}
		#storeHours{
			display: block !important;
			align-items: center;
		}
		#storeHours p{
			margin: 0;
		}


	</style>

	