
	<style type="text/css">
	
	/*Header styles (and a dash of the body*/
		body{
			background-color: #FFF;
			margin-left: 8em;
			margin-right: 8em;
		}

		main{
			margin-top: 2em;
		}
		li{
			list-style: none;
			font-size: large;
			display: inline-block;
			margin-top: 1em;
		}
		.form-inline{
			width: 100%;
		}
		#title {
			font-size: x-large;
		}
		div #searchBar{
			justify-content: center;
		}
		#searchBar button{
			margin-left: .5em
		}

		ul #results{

			background-color: #FFF;
			display: inherit;
			columns: 3;
			-webkit-columns: 3;
  			-moz-columns: 3;
		}
		div #mainNavBar a{
			text-align: center;
		}



		/* */
		@media (max-width: 1000px){

			main{
				margin-top: 2em;
			}
			li{
				list-style: none;
				font-size: large;
				margin-top: 1em;

			}
			.form-inline{
				flex-flow: nowrap;
			}

			#title {
				font-size: large;
			}
			div #searchBar{
				margin-left: 2em;
			}
			#searchBar button{
				margin-left: .5em
			}
			/*#Results UL*/
			ul #results{
			text-align: center;
			background-color: #FFF;
			display: inherit;
			columns: 2;
			-webkit-columns: 2;
  			-moz-columns: 2;

			}
			img{
				width: 100%;
			}
		}

		/*Footer styles*/

		#footerHere nav{
			display: inline;
		}

		#footerHere nav.navbar{
			text-align: center;
			
		}

		#footerHere .navbar-nav{
			display: inline-block;
		}
		#footerHere a.nav-link{
			margin-left: 1em;
		}


	</style>

	